
  .pagination ul{
    list-style-type: none;
    text-align: left;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
  }
  
  .pagination li {
    color: black;
    display: inline-block;
    width: 40px;
    background-color: white;
    border: 1px solid white;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
  }
  
  .pagination a {
    text-decoration: none;
    display: block;
  }