.container-product{
    width: 100%;
    text-align: center;
    height: auto;

}

.products{
   
    background-color: #ffffff;
    position: relative;
    height: 300px;
    margin: 20px;
    padding-top: 50px;
    text-align: center;
    border: 1px solid #ffffff;
    float: left;
    border-radius: 2px;
    
}

.products:hover{
    border: 1px solid #FA5730;
    border-radius: 2px;
}

.animation-1 {
    position: absolute;
    top: 90%;
    height: 10px;
    width: 212px;
    /* z-index: 5; */
    padding: 20px;
    text-align: center;
    /* //làm class biến mất */
    opacity: 0; 
    /* //transition hiện ra nhẹ nhàng */
    transition: all 1s ease-in-out;
    font-size: 10px;
    border: 1px solid #FA5730;
    border-radius: 2px;
    /* //background trong suốt */
    background: linear-gradient(to bottom, #f5402d -7%, #fd5f32 111%);
    }

    .animation-1 h2{
        position: absolute;
        color: white;
        top: 30%;
        margin: 0;
        left: 0;
        width: 100%;
        text-align: center;
        }
.products:hover .animation-1{
/* //Khi hover vào class hover-line thì class animation-1 sẽ hiện ra */
opacity: 1;
}



.products .animation-2 {
    position: absolute;
    top: 5%;
    height: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    left: -.1875rem;
    width: 60px;
    /* z-index: 5; */
    text-align: center;
    /* //làm class biến mất */
    opacity: 1; 
    /* //transition hiện ra nhẹ nhàng */
    transition: all 1s ease-in-out;
    font-size: 7px;
    border: 1px solid #FA5730;
    border-radius: 2px;
    /* //background trong suốt */
    background: linear-gradient(to bottom, #f5402d -7%, #fd5f32 111%);
    }
    .products .animation-2 h2{
    position: absolute;
    color: white;
    
    margin: 0;
    left: 0;
    width: 100%;
    text-align: center;
    }

    .products .animation-3 {
        position: absolute;
        top: 0;
        height: 50px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-left: 150px;
        width: 60px;
        /* z-index: 5; */
        text-align: center;
        /* //làm class biến mất */
        opacity: 1; 
        /* //transition hiện ra nhẹ nhàng */
        transition: all 1s ease-in-out;
        font-size: 7px;
        border: 1px solid #FFD839;
        box-sizing: border-box;
        border-width: 0 19px 4px;
        /* //background trong suốt */
        background: linear-gradient(to bottom, #ffd839 30%, #ffd839 111%);
        }
        .products .animation-3 h2{
        position: absolute;
        color: white;
        top: 40%;
        margin: 0;
        left: 0;
        width: 100%;
        text-align: center;
        }   

        .products .animation-3 h3{
            position: absolute;
            
            top: 10%;
            margin: 0;
            left: 0;
            width: 100%;
            text-align: center;
            }
.price{
color: #FA5730 ;
font-weight: bold;
}

.searchInput{
    width: 600px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-left: 10px;
}


