.header {
    height: 8rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    .logo-container {
        margin: 0 auto;
        height: 100%;
        position: relative;
        .logo {
            position: absolute;
            top: 50%;
            left: 3%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            img {
                width: 180px;
                height: 60px;
            }
        }
        .registerLink {
            position: absolute;
            top: 50%;
            right: 10%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            ul,
            li {
                margin: 0;
                padding: 0;
            }
            li {
                list-style-type: none;
                a {
                    font-size: 2rem;
                    line-height: 1;
                    text-decoration: none;
                    color: #000;
                    text-transform: uppercase;
                }
            }
        }
    }
}