.header {
  height: 100px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 13.0rem;
      position: absolute;
      top: 50%; left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .callToActions {
      position: absolute;
      top: 50%; right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      ul, li {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1.5rem;

        &:last-child {
          margin-right: 0;
        }

        a, span {
          font-size: 1.8rem;
          line-height: 1;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}


.Container-header{
  width: 100%;
  height: auto;
  position: fixed;
  background: linear-gradient(to bottom, #f5402d -7%, #fd5f32 111%);
  padding-left: 80px;
  padding-right: 100px;
  z-index: 100;
}

.top-menu{
  background-color: #FA5730;
}

#top-menu ul{
  list-style-type: none;
  text-align: left;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
}

#top-menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 130px;
  height: 40px;
  line-height: 40px;
}

#top-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

/* rigt menu */

#top-menu-right ul{
  list-style-type: none;
  text-align: left;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  size: 30px;
  padding-left: 100px;
}

#top-menu-right li {
  color: #f1f1f1;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
}

#top-menu-right a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#bottom-menu{
  background-color: #FA5730;
  margin-left: -40px;
}

#bottom-menu ul{
  list-style-type: none;
  text-align: left;
  list-style-type: none;
  overflow: hidden;
  background-color: #FA5730;
  width: 100%;
}

#bottom-menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 75px;
  height: 40px;
  line-height: 40px;
}

#bottom-menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.item-search input{
  width: 800px;
  height: 40px;
  color: black; 
  border-radius: 1px;
  position: fixed;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.icon-search{
  background-color: #FA5730;
  color: #f1f1f1;
}

.icon-search button{
  width: 50px;
  height: 30px;
  top: 5px;
  left: 740px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  background-color: #FB6E51;
  position: relative;
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background-color: #FA5730;
  padding-left: 80px;
}

.bottom-menu img{
  width: 100px;
  height: 80px;
}